<%= form_with(model: settings) do |form| %>
  <% if settings.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(settings.errors.count, "error") %> prohibited this settings from being saved:</h2>

      <ul>
        <% settings.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <label style="display: block">
      Surface temp factor. Fix temperature reading off when the temp is staying steady. Increasing this raises higher temperatures more than low temperatures.
    </label>
    <%= form.number_field :static_temp_factor, step: 0.01 %>
  </div>

  <div>
    <label style="display: block">
      Surface temp offset. Fix temperature reading off when the temp is staying steady. Increasing this raises all temperatures equally.
    </label>
    <%= form.number_field :static_temp_offset, step: 1 %>
  </div>

  <div>
    <%= form.label "Dynamic/internal temp factor (fix temperature reading when the temp is changing quickly)", style: "display: block" %>
    <%= form.number_field :dynamic_temp_factor, step: 0.01 %>
  </div>

  <div>
    <%= form.label "Max rate adjustment delta (when the temp is changing quickly, don't rate-adjust the internal temperature more than this number of degrees)", style: "display: block" %>
    <%= form.number_field :max_rate_adjustment_delta, step: 1.0 %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
