<p style="color: green"><%= notice %></p>

<%= render @settings %>

<div>
  <%= link_to "Edit this settings", edit_settings_path(@settings) %> |
  <%= link_to "Back to settings", settings_index_path %>

  <%= button_to "Destroy this settings", @settings, method: :delete %>
</div>
