<%= form_with(model: temp_monitor) do |form| %>
  <% if temp_monitor.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(temp_monitor.errors.count, "error") %> prohibited this temp_monitor from being saved:</h2>

      <ul>
        <% temp_monitor.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div style="margin: 8px;">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div style="margin: 8px;">
    <%= form.label :upper_limitf %>
    <%= form.text_field :upper_limitf %>
  </div>

  <div style="margin: 8px;">
    <%= form.label :lower_limitf %>
    <%= form.text_field :lower_limitf %>
  </div>

  <div style="margin: 8px;">
    <%= form.label :send_notifications %>
    <%= form.check_box :send_notifications %>
  </div>

  <div style="margin: 8px;">
    <%= form.label :toggle_fan %>
    <%= form.check_box :toggle_fan %>
  </div>

  <div style="margin: 8px;">
    <%= form.label :enabled %>
    <%= form.check_box :enabled %>
  </div>

  <div style="margin: 8px; padding-top: 16px;">
    <%= form.submit %>
  </div>
<% end %>
