<h1>Temperature monitor</h1>

<p style="color: green"><%= notice %></p>

<%= render @temp_monitor %>

<!-- NOTE there are no user-accessible routes to this file. Could deprecate this. -->

<div>
  <%= link_to "Edit this temp monitor", edit_temp_monitor_path(@temp_monitor) %> |
  <%= link_to "Back to temp monitors", temp_monitors_path %>
  <div style="margin: 16px"></div>
  <%= button_to "Destroy this temp monitor", @temp_monitor, method: :delete %>
</div>
