<h1>Temperature Readings</h1>

<%= line_chart [
                   {name: 'Temp (F)', data: @temp_readings.pluck(:created_at, :tempf), color: 'orange'},
                   {name: 'Temp Non-rate-adjusted (F)', data: @temp_readings.map {|r| [r.created_at, r.non_rate_adjusted_tempf] }, color: 'gray'},
                   {name: 'Confirmed Temp (F)', data: @temp_readings.pluck(:created_at, :confirmed_tempf), color: 'green'},
                   *@monitors_for_chart.map {|hash| {name: hash[:name], data: @temp_readings.map{ |r| [r.created_at, hash[:value_f]] }, points: false, color: hash[:color]}},
               ], min: nil, max: nil %>

<p style="color: green"><%= notice %></p>

<div style="margin: 24px">
  <%= render 'relays/new_form' %>
</div>

<div style="margin: 24px">
  <%= render 'confirmed_readings/new_form' %>
</div>

<table>
  <thead>
    <tr>
      <th>Temp (F)</th>
      <th>Temp (F) Non-<br>rate-adjusted</th>
      <th>Temp (F)<br>Confirmed</th>
      <th>Time</th>
      <th>Raw time</th>
    </tr>
  </thead>
  <tbody>
  <% @temp_readings.each do |temp_reading| %>
    <tr>
      <td><%= number_to_human(temp_reading.tempf) %></td>
      <td><%= number_to_human(temp_reading.non_rate_adjusted_tempf) %></td>
      <td><%= number_to_human(temp_reading.confirmed_tempf) %></td>
      <td><%= time_ago_in_words(temp_reading.created_at) + ' ago' %></td>
      <td><%= temp_reading.pretty_timestamp %></td>
    </tr>
  <% end %>
  </tbody>
</table>

<p>
  "Temp Non-rate-adjusted" = not adjusted to account for the rate of temperature change
</p>
