<%= line_chart [
                   {name: 'Internal temp (F)', data: @temp_readings.pluck(:created_at, :tempf), color: TempReadingsController::INTERNAL_TEMP_COLOR},
                   {name: 'Surface temp (F)', data: @temp_readings.map {|r| [r.created_at, r.surface_tempf(@settings)] }, color: TempReadingsController::SURFACE_TEMP_COLOR},
                   {name: 'Confirmed temp (F)', data: @temp_readings.pluck(:created_at, :confirmed_tempf), color: 'green', points: true}, # show points for confirmed readings b/c they're sparse enough that they disappear if you turn off points
                   *@monitors_for_chart.map {|hash| {name: hash[:name], data: @temp_readings.map{ |r| [r.created_at, hash[:value_f]] }, points: false, color: hash[:color], library: {borderDash: [2,6], borderDashOffset: hash[:color] == 'orange' ? 4 : 0}}},
               ], min: 200, max: nil, points: false %>

<p style="color: green"><%= notice %></p>

<style>
    .time-links a {
      margin-right: 8px;
      margin-bottom: 8px;
      display: inline-block;
    }
</style>

<div class="time-links">
  <%= link_to "Last 30 min", temp_readings_path %>
  <%= link_to "Last 1 hr", temp_readings_path(limit: 60) %>
  <%= link_to "Last 2 hr", temp_readings_path(limit: 120) %>
  <%= link_to "Last 10 hr", temp_readings_path(limit: 600) %>
  <%= link_to "Minus 1 hr", temp_readings_path(limit: params[:limit], offset: params[:offset].to_i + 60) %>
</div>


<div style="margin: 16px 0px">
  <%= render 'relays/new_form' %>
</div>

<div style="margin: 16px 0px">
  <%= render 'confirmed_readings/new_form' %>
</div>

<table>
  <thead>
    <tr>
      <th>Internal<br>temp (F)</th>
      <th>Surface<br>temp (F)</th>
      <th>Confirmed<br>temp (F)<br></th>
      <th>Time</th>
    </tr>
  </thead>
  <tbody>
  <% @temp_readings.each do |temp_reading| %>
    <tr>
      <td><%= number_to_human(temp_reading.tempf) %></td>
      <td><%= number_to_human(temp_reading.surface_tempf(@settings)) %></td>
      <td><%= number_to_human(temp_reading.confirmed_tempf) %></td>
      <td><%= temp_reading.pretty_timestamp %></td>
    </tr>
  <% end %>
  </tbody>
</table>
