<!DOCTYPE html>
<html>
  <head>
    <title><%= @extra_tab_title %>WoodStove</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%= yield %>

    <h3 style="margin-top: 32px">Navigation</h3>
    <div style="padding: 8px"><%= link_to "Home", root_path %> </div>
    <div style="padding: 8px"><%= link_to "Temp monitors", temp_monitors_path %> </div>
    <div style="padding: 8px"><%= link_to "Temp readings", temp_readings_path %> </div>
    <div style="padding: 8px"><%= link_to "Settings", settings_index_path %> </div>
  </body>
</html>
